body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 20px;
	background-color: #181818;
}

.sudoku-grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	gap: 1px;
	background-color: #383838;
	border: 2px solid #383838;
	max-width: 450px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.cell {
	background-color: #2D2D2D;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	box-sizing: border-box;
	position: relative;
}

.cell::after {
	content: '';
	position: absolute;
	right: -1px;
	bottom: -1px;
	width: 2px;
	height: 100%;
	background-color: #383838;
	display: none;
}

.cell::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #383838;
	display: none;
}

.cell:nth-child(3n)::after {
	display: block;
}

.cell:nth-child(n+19):nth-child(-n+27)::before,
.cell:nth-child(n+46):nth-child(-n+54)::before {
	display: block;
}

.cell-numbers {
	font-size: 0.4em;
	color: #888;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	height: 50%;
	text-align: center;
}

.cell-numbers span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-numbers span.highlighted {
	color: #383838;
}

.cell input {
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 1em;
	border: none;
	outline: none;
	background-color: transparent;
	color: #ddd;
	padding: 0;
	margin: 0;
	appearance: textfield;
	-webkit-appearance: textfield;
}

.buttons {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

button {
	padding: 10px 20px;
	font-size: 1em;
	margin: 0 10px;
	background-color: #212121;
	color: #ddd;
	border-radius: 5px;
	border-color: #343434;
	border-style: solid;
	cursor: pointer;
}